@use '@styles/colors'
@use '@styles/screens'
@use '@styles/gradient'
@use 'sass:color'

.latest
  padding: 1rem
  margin-bottom: 1rem

.title
  font-size: 2rem
  font-weight: 300
  text-align: center
   
  padding: 0.5rem 2rem
  border-radius: 2rem

  color: white

.divider
  margin: 0.5rem 10%
  border: none
  height: 0.1rem
  margin-bottom: 1.5rem
  background: gradient.cloudy('center')

.posts
  width: 80%
  @media (max-width: screens.$md)
    width: 90%
