@use '@styles/colors'

.container
  width: 100%
  height: 36rem
  overflow-y: scroll

  padding: 1rem
  border-radius: 1rem

  background: linear-gradient(45deg, colors.$deep-space, colors.$moon-light 80%, colors.$deep-space)
  box-shadow: 5px 5px 15px colors.$deep-space

  display: flex
  flex-flow: row wrap
  justify-content: center
  gap: 1rem

.icon
  width: 8rem
  height: 8rem
  margin: 0.5rem

.documentation
  flex: 60%
  height: 100%

.title
  color: white
  font-size: 2rem
  font-weight: 200

.skills
  margin: 0.5rem 0

.link
  display: inline-block
  margin: 1rem 0
  padding: 1rem 1.5rem

  border: 2px solid transparent
  border-radius: 2rem

  color: white
  background-color: colors.$bubblegum

  font-size: 1.1rem
  text-decoration: none

  transition: background-color 0.5s, border-color 0.5s
  &:hover
    border-color: colors.$bubblegum
    background-color: transparent
