@use '@styles/colors'

.container
  width: 100%
  height: 48rem
  border-radius: 1rem

  padding: 1rem

  background: linear-gradient(45deg, transparent, colors.$moon-light 80%, transparent)
  box-shadow: 5px 5px 15px colors.$deep-space

  display: flex
  flex-flow: row nowrap
  gap: 1rem

.icon
  width: 8rem
  height: 8rem
  margin: 0.5rem

.documentation
  height: 100%
  overflow-y: scroll

.title
  color: white
  font-size: 2rem
  font-weight: 200

.skills
  margin: 0.5rem 0
