@use '@styles/colors'

.nav-button
  min-width: 8rem  
  padding: 1rem
  border-radius: 1rem
  font-size: 1rem
  transition: color, background-color 0.5s

  &.regular
    background-color: transparent
    border: solid 4px colors.$moon-light
    color: colors.$starlight

    &:hover
      background-color: colors.$moon-light
      border: none
      color: white
      
  &.focus
    background-color: colors.$bubblegum
    border: none
    color: white

    &:hover
      background-color: transparent
      border: solid 4px colors.$bubblegum
