@use '@styles/colors'
@use '@styles/screens'

.projects
  width: 80%
  margin: auto
  @media (max-width: screens.$md)
    width: 90%

.list
  list-style: none
  > li
    padding: 0
    margin: 2rem 0
