@use '@styles/colors'
@use '@styles/markdown'

.card
  color: white
  display: flex
  flex-flow: row wrap

  padding: 2rem
  border-radius: 2rem
  background: linear-gradient(45deg, transparent, colors.$moon-light 80%, transparent)
  box-shadow: 5px 5px 15px colors.$deep-space

.icon
  margin: 1rem 1rem
  flex: 1 1 15%

  display: flex
  align-items: flex-start
  justify-content: center

  .image
    $size: 8rem
    width:  $size
    height: $size

.info
  flex: 1 1 80%

.name
  font-size: 2rem
  font-weight: 300

.skills
  list-style: none

  display: flex
  gap: 0.5rem
  flex: row wrap

  margin: 0.5rem 0

  > li
    padding: 0
    margin: 0

.button
  display: inline-block 
  margin: 0.5rem 0

  padding: 1rem 2rem
  border: none
  border-radius: 2rem

  font-size: 1.1rem
  text-decoration: none
  
  color: white
  background-color: colors.$bubblegum

  transform: scale(100%)
  transition: color 0.3s, background-color 0.3s, transform 0.3s

  &:hover
    color: colors.$bubblegum
    background-color: white
    transform: scale(105%)

.body
  @include markdown.markdown-style()
