@use '@styles/screens'
@use '@styles/gradient'
@use '@styles/markdown'

.body
  width: 90%
  margin: 0 auto

.doc
  @include markdown.markdown-style()
  img
    margin: 0
    float: right
  h2, h3, h4, h5
    clear: both
