@use '@styles/gradient'
@use '@styles/colors'
@use 'sass:color'

.alpaca-markdown
  h2, h3, h4, h5, h6, p, ul, ol
    color: white
    font-weight: normal

  p, ul, ol
    margin: 0.5rem 0

  h2, h3, h4, h5, h6
    margin: 2rem 0 1rem 0

  h2, h3 
    font-weight: normal

  h4, h5, h6
    font-weight: 500

  h2
    font-size: 3rem
  h3
    font-size: 2rem
  h4
    font-size: 1.5rem
  h5
    font-size: 1.2rem
  h6
    font-size: 1rem

  p, ul, ol
    line-height: 1.5rem

  img
    display: block
    max-width: 100%
    max-height: 16rem
    margin: 1rem 0

  hr
    margin: 1rem 0
    border: none
    height: 0.1rem
    background: gradient.cloudy('left')
    opacity: 30%

  table
    table-layout: fixed
    width: 90%
    margin: 2rem auto
    border: none
    border-collapse: collapse
    border-radius: 1rem
    overflow: hidden
    box-shadow: 1px 3px 3px colors.$deep-space

  th
    padding: 0.5rem
    color: white
    background-color: colors.$deep-space
    font-size: 1.2rem
  
  td
    text-align: center
    color: white
    padding: 0.5rem
    font-weight: 400
    font-size: 1rem

  tbody tr:nth-child(odd)
    background-color: color.scale(colors.$deep-space, $lightness: 2%)

  tbody tr:nth-child(even)
    background-color: color.scale(colors.$deep-space, $lightness: 4%)

  // Content links:
  a
    color: colors.$bubblegum
    transition: color 0.5s
    text-decoration: underline
    &:hover
      color: color.scale(colors.$bubblegum, $lightness: 30%)

  // Heading anchor links:
  h1, h2, h3, h4, h5, h6
    > a
      color: white
      transition: none
      text-decoration: none
      &:hover
        color: white
        &::after
          color: colors.$star-light
          content: ' #'

  ul, ol
    margin-left: 1.5rem

  ul
    list-style: '\2605'

  li
    padding-left: 1rem

  code
    color: white

  code.code-block
    background-color: colors.$deep-space
    display: block
    border-radius: 1.5rem
    padding: 1rem 1.5rem
    margin: 1rem 0
    white-space: pre-wrap

  code.code-inline
    background-color: colors.$deep-space
    padding: 0.3rem 0.5rem
    border-radius: 0.5rem
