@use 'sass:map'
@use 'sass:list'
@use 'sass:math'
@use '@styles/screens'

$transforms = (
  ( key: 'center'       , 'x': 0%   , 'y': 0%    ),
  ( key: 'top':         , 'x': 0%   , 'y': -110% ),
  ( key: 'top-right'    , 'x': 80%  , 'y': -55%  ),
  ( key: 'bottom-right' , 'x': 80%  , 'y': -55%  ),
  ( key: 'bottom'       , 'x': 0%   , 'y': 110%  ),
  ( key: 'bottom-left'  , 'x': -80% , 'y': 55%   ),
  ( key: 'top-left'     , 'x': -80% , 'y': 55%   ),
)

@for $i from 0 to list.length($transforms)
  $transform: list.nth($transforms, $i)

  $key: map.get($transform, 'key')
  $x: map.get($transform, 'x')
  $y: map.get($transform, 'y')

  .honeycomb-#{$key}
    animation: 1s ease-out (1s + 0.2s * $i) honeycomb-animation-#{$key} forwards

  @keyframes honeycomb-animation-#{$key}
    from
      transform: translate(0, 0)
    to
      transform: translate($x, $y)

.honeycomb
  width: 100%
  height: 100%
  
  &-slot:
    $slot-width: 12rem
    width: $slot-width
    height: ($slot-width / 2) * math.sqrt(3)

    position: absolute
    inset: 0
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
