@use '@styles/colors'
@use '@styles/easing'

@keyframes slide-in
  from
    opacity: 0
    transform: translateY(3rem)
  to
    opacity: 100%
    transform: translateY(0)

.post
  opacity: 0
  animation: 0.5s easing.$overshoot slide-in forwards
