@use '@styles/screens'

.focus
  display: flex
  flex-direction: row
  align-items: center

  @media (max-width: screens.$md)
    flex-direction: column

.about, .skills
  flex: 1 1 50%

.skills
  display: flex
  justify-content: flex-start

  @media (max-width: screens.$md)
    justify-content: center

.about
  $pad: 3%
  padding-left: $pad

  @media (max-width: screens.$md)
    padding-right: $pad
