@use '@styles/screens'
@use '@styles/gradient'

.body
  width: 90%
  margin: 0 auto

.title
  color: white
  font-size: 3rem
  font-weight: 300
  margin: 1rem 0

.doc
  img
    margin: 0
    float: right
  h2, h3, h4, h5
    clear: both

.divider
  margin: 1rem 0
  border: none
  height: 0.1rem
  background: gradient.cloudy('left')
  opacity: 30%
