@use '@styles/colors'
@use '@styles/screens'
@use '@styles/gradient'
@use 'sass:color'

@function purple-gradient()
  $dark:  color.scale(colors.$moon-dark, $lightness: 2%)
  $light: color.scale(colors.$moon-dark, $lightness: 5%)
  @return linear-gradient(to right, $dark, $light, $dark)

.card
  min-height: 12rem

  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  padding: 1rem
  border-radius: 3rem

  text-decoration: none
  box-shadow: 5px 5px 5px colors.$deep-space

  background: purple-gradient()
  transition: transform 0.5s ease-out
  
  &:hover
    transform: scale(105%)

  @media (max-width: screens.$md)
    flex-direction: column

.image
  flex: 1 1 25%

  display: flex
  justify-content: center
  align-items: center

  > img
    width: 60%
    height: auto

.info
  flex: 1 1 75%
  color: white

  h3
    font-size: 1.3rem
    font-weight: 600
  hr
    height: 0.1rem
    border: none
    margin: 0.5rem 0
    background: gradient.cloudy('left')

    @media (max-width: screens.$md)
      background: gradient.cloudy('center')
  p
    font-size: 1rem
    font-weight: 300
    white-space: pre-wrap

  @media (max-width: screens.$md)
    text-align: center

.skills
  display: flex
  flex-flow: row wrap

  list-style: none
  margin: 1rem 0

  > li
    display: inline-block
    margin: 0 0.3rem

  @media (max-width: screens.$md)
    justify-content: center
