@use '@styles/gradient'

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 100%

.section
  opacity: 0
  animation: 0.25s fade-in forwards

.title
  font-size: 2rem
  font-weight: 300
  text-align: center
   
  padding: 0.5rem 2rem
  border-radius: 2rem

  color: white

.divider
  margin: 0.5rem 10%
  border: none
  height: 0.1rem
  background: gradient.cloudy('center')
  opacity: 43%
