@use '@style/colors'
@use 'sass:color'

.slot
  background-color: colors.$moon-light
  transition: background-color 1s

  &:hover
    background-color: color.scale(colors.$moon-light, $lightness: 10%)
    transition: background-color 1s

  & > img
    filter: brightness(0) invert(1) opacity(30%)
