@use '@styles/screens'
@use '@styles/gradient'

.list
  width: 80%
  @media (max-width: screens.$md)
    width: 100%

.posts
  width: 90%

.year
  list-style: none
  padding: 0

  > h3
    font-size: 1.3rem
    color: white
    font-weight: 400
    text-align: center

  > hr
    width: 50%
    height: 0.1rem
    margin: 0.5rem auto
    margin-bottom: 1rem
    border: none
    background: gradient.cloudy('center')
