@use 'sass:map'
@use 'sass:list'
@use 'sass:math'
@use '@styles/screens'
@use '@styles/easing'

@function generate_transforms()
  $center:        ( key: 'center'       , 'x': 0%   , 'y': 0%    )
  $top:           ( key: 'top'          , 'x': 0%   , 'y': -115% )
  $top-right:     ( key: 'top-right'    , 'x': 80%  , 'y': -55%  )
  $bottom-right:  ( key: 'bottom-right' , 'x': 80%  , 'y': 55%   )
  $bottom:        ( key: 'bottom'       , 'x': 0%   , 'y': 115%  )
  $bottom-left:   ( key: 'bottom-left'  , 'x': -80% , 'y': 55%   )
  $top-left:      ( key: 'top-left'     , 'x': -80% , 'y': -55%  )
  @return $center, $top, $top-right, $bottom-right, $bottom, $bottom-left, $top-left

$transforms: generate_transforms()

@for $i from 1 to list.length($transforms) + 1
  $transform: list.nth($transforms, $i)

  $key: map.get($transform, 'key')
  $x: map.get($transform, 'x')
  $y: map.get($transform, 'y')

  @keyframes honeycomb-animation-#{$key}
    from
      transform: translate(0, 0)
    to
      transform: translate($x, $y)

  .slot-#{$key}
    animation: 0.5s easing.$overshoot (0.1s * $i) honeycomb-animation-#{$key} forwards
    z-index: list.length($transforms) + 1 - $i

@function get-slot-height($width)
  @return math.div($width, 2) * math.sqrt(3)

$slot-width: 9rem
$slot-height: get-slot-height($slot-width)

// How much a slot should shrink on a smaller window:
$slot-shrink: 1rem

.honeycomb
  min-width: $slot-width * 3.5
  min-height: $slot-height * 3.5
  position: relative

  @media (max-width: screens.$md)
    min-height: get-slot-height($slot-width - $slot-shrink) * 4

.slot
  width: $slot-width
  height: $slot-height

  @media (max-width: screens.$md)
    width: $slot-width - $slot-shrink
    height: get-slot-height($slot-width - $slot-shrink)

  position: absolute
  inset: 0
  margin: auto
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)

  & > img
    width: 65%
    height: 65%
    position: absolute
    inset: 0
    margin: auto
