.container
  display: flex
  flex-direction: row
  gap: 0.5rem

.icon
  display: inline-block
  position: relative

  border-radius: 50%
  border: 2px solid white

  text-decoration: none
  background-color: transparent

  height: 3rem
  width: 3rem
  transition: transform ease-out 0.2s

  &:hover
    transform: translateY(-0.2rem)

  & > img
    width:  65%
    height: 65%
    position: absolute
    inset: 0
    margin: auto
    filter: brightness(0) invert(1)
